# Updating Rows and Columns in Dataframe

In [19]:
# Importing pandas library and loading data
import pandas as pd
df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_public.csv")
schema_df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_schema.csv")

In [20]:
people = {
    'first' : ['Huzefa', 'Jane', 'John'],
    'last' : ['Battiwala', 'Doe', 'Doe'],
    'email' : ['battih@gmail.com', 'johndoe@gmail.com', 'janedoe@gmail.com']
}

dict_df = pd.DataFrame(people)

In [21]:
# Rename all the column name
dict_df.columns = ['first name', 'last name','email']

In [22]:
dict_df.columns = [x.upper() for x in dict_df.columns]

In [23]:
dict_df

  FIRST NAME  LAST NAME              EMAIL
0     Huzefa  Battiwala   battih@gmail.com
1       Jane        Doe  johndoe@gmail.com
2       John        Doe  janedoe@gmail.com

In [24]:
dict_df.columns = dict_df.columns.str.replace(' ', '_')
dict_df

  FIRST_NAME  LAST_NAME              EMAIL
0     Huzefa  Battiwala   battih@gmail.com
1       Jane        Doe  johndoe@gmail.com
2       John        Doe  janedoe@gmail.com

In [28]:
dict_df.rename(columns={'FIRST_NAME':'first', 'LAST_NAME':'last', 'EMAIL':'email'},inplace=True)
dict_df

    first       last              email
0  Huzefa  Battiwala   battih@gmail.com
1    Jane        Doe  johndoe@gmail.com
2    John        Doe  janedoe@gmail.com

In [33]:
# Change the row value with index
dict_df.loc[2] = ['John', 'Smith', 'johnsmith@email.com']

In [34]:
dict_df

    first       last                email
0  Huzefa  Battiwala     battih@gmail.com
1    Jane        Doe    johndoe@gmail.com
2    John      Smith  johnsmith@email.com

In [35]:
dict_df.loc[2,['last','email']] = ['Doe', 'johndoe@email.com']
dict_df

    first       last              email
0  Huzefa  Battiwala   battih@gmail.com
1    Jane        Doe  johndoe@gmail.com
2    John        Doe  johndoe@email.com

In [36]:
dict_df.at[2,'last'] = 'Doe'
dict_df

    first       last              email
0  Huzefa  Battiwala   battih@gmail.com
1    Jane        Doe  johndoe@gmail.com
2    John        Doe  johndoe@email.com

In [40]:
filt = (dict_df['email'] == 'johndoe@email.com')
dict_df[filt]['last'] = 'Smith'

C:\Users\battih\AppData\Local\Temp\ipykernel_10092\987776763.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dict_df[filt]['last'] = 'Smith'

In [42]:
filt = (dict_df['email'] == 'johndoe@email.com')
dict_df.loc[filt,'last'] = 'Smith'

In [43]:
dict_df

    first       last              email
0  Huzefa  Battiwala   battih@gmail.com
1    Jane        Doe  johndoe@gmail.com
2    John      Smith  johndoe@email.com

In [45]:
dict_df.loc[filt,'email'] = 'JohnDoe@email.com'

In [47]:
# Updating multiple values 
dict_df['email'] = dict_df['email'].str.lower()
dict_df

    first       last              email
0  Huzefa  Battiwala   battih@gmail.com
1    Jane        Doe  johndoe@gmail.com
2    John      Smith  johndoe@email.com