# Cleaning Data

In [4]:
# Importing pandas library and loading data
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_public.csv")
schema_df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_schema.csv")

In [5]:
people = {
    'first' : ['Huzefa', 'Jane', 'John','Chris', np.nan, None, 'NA' ],
    'last' : ['Battiwala', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email' : ['battih@gmail.com', 'johndoe@gmail.com', 'janedoe@gmail.com',None, None,'anonymous@email.com','NA'],
    'age': ['33','55','63','36',None, None, "Missing"]
}

dict_df = pd.DataFrame(people)

In [6]:
dict_df

    first       last                email      age
0  Huzefa  Battiwala     battih@gmail.com       33
1    Jane        Doe    johndoe@gmail.com       55
2    John        Doe    janedoe@gmail.com       63
3   Chris    Schafer                 None       36
4     NaN        NaN                 None     None
5    None        NaN  anonymous@email.com     None
6      NA    Missing                   NA  Missing

In [7]:
# how='any' condition will act when all the rows in df is empty
dict_df.dropna(axis='index',how='any')

    first       last              email      age
0  Huzefa  Battiwala   battih@gmail.com       33
1    Jane        Doe  johndoe@gmail.com       55
2    John        Doe  janedoe@gmail.com       63
6      NA    Missing                 NA  Missing

In [8]:
# how='all' condition will act when all the rows in df is empty
dict_df.dropna(axis='index',how='all')

    first       last                email      age
0  Huzefa  Battiwala     battih@gmail.com       33
1    Jane        Doe    johndoe@gmail.com       55
2    John        Doe    janedoe@gmail.com       63
3   Chris    Schafer                 None       36
5    None        NaN  anonymous@email.com     None
6      NA    Missing                   NA  Missing

In [9]:
dict_df.dropna(axis='columns',how='all')

    first       last                email      age
0  Huzefa  Battiwala     battih@gmail.com       33
1    Jane        Doe    johndoe@gmail.com       55
2    John        Doe    janedoe@gmail.com       63
3   Chris    Schafer                 None       36
4     NaN        NaN                 None     None
5    None        NaN  anonymous@email.com     None
6      NA    Missing                   NA  Missing

In [10]:
dict_df.dropna(axis='index',how='any',subset=['email'])

    first       last                email      age
0  Huzefa  Battiwala     battih@gmail.com       33
1    Jane        Doe    johndoe@gmail.com       55
2    John        Doe    janedoe@gmail.com       63
5    None        NaN  anonymous@email.com     None
6      NA    Missing                   NA  Missing

In [11]:
dict_df.dropna(axis='index',how='all',subset=['last','email'])

    first       last                email      age
0  Huzefa  Battiwala     battih@gmail.com       33
1    Jane        Doe    johndoe@gmail.com       55
2    John        Doe    janedoe@gmail.com       63
3   Chris    Schafer                 None       36
5    None        NaN  anonymous@email.com     None
6      NA    Missing                   NA  Missing

In [12]:
people = {
    'first' : ['Huzefa', 'Jane', 'John','Chris', np.nan, None, 'NA' ],
    'last' : ['Battiwala', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email' : ['battih@gmail.com', 'johndoe@gmail.com', 'janedoe@gmail.com',None, None,'anonymous@email.com','NA'],
    'age': ['33','55','63','36',None, None, "Missing"]
}

dict_df = pd.DataFrame(people)
dict_df.replace('NA',np.nan,inplace=True)
dict_df.replace('Missing',np.nan,inplace=True)

In [13]:
dict_df.dropna(axis='index', how='all', subset=['last', 'email'])

    first       last                email   age
0  Huzefa  Battiwala     battih@gmail.com    33
1    Jane        Doe    johndoe@gmail.com    55
2    John        Doe    janedoe@gmail.com    63
3   Chris    Schafer                 None    36
5    None        NaN  anonymous@email.com  None

In [14]:
# fillna value
dict_df.fillna('Missing')

     first       last                email      age
0   Huzefa  Battiwala     battih@gmail.com       33
1     Jane        Doe    johndoe@gmail.com       55
2     John        Doe    janedoe@gmail.com       63
3    Chris    Schafer              Missing       36
4  Missing    Missing              Missing  Missing
5  Missing    Missing  anonymous@email.com  Missing
6  Missing    Missing              Missing  Missing

In [15]:
# Check the data type of a data frame
dict_df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [17]:
# We cannot derive the mean value of age, because its in object data type
dict_df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [21]:
# Converting the column data type to in will cause an error because the none data type is float and not int
dict_df['age'] = dict_df['age'].astype('int')

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [22]:
dict_df['age'] = dict_df['age'].astype(float)

In [23]:
dict_df['age'].mean()

np.float64(46.75)

In [24]:
na_values = ['NA', 'Missing']
df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_public.csv",index_col='Respondent', na_values=na_values)
schema_df = pd.read_csv(r"C:\Users\battih\Desktop\Personal\Python\data\extracted_data\survey_results_schema.csv")

In [ ]:
# Calculate the average coding years of coding
df['YearsCode'].head(10) # There is a Nan value and hence, it cannot be converted into an integer

Respondent
1       4
2     NaN
3       3
4       3
5      16
6      13
7       6
8       8
9      12
10     12
Name: YearsCode, dtype: object

In [30]:
# Convert the data type to float 
df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

In [31]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [43]:
df['YearsCode'].replace({'Less than 1 year':0, 'More than 50 years':50 } , inplace=True)

In [44]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [45]:
df['YearsCode'].mean()

np.float64(11.660681389160544)

In [46]:
df['YearsCode'].median()

np.float64(9.0)